<p id="notice"><%= notice %></p>

<h1>Pictures</h1>

    <% @pictures.each do |picture| %>
      <div class="card" style="width: 480px;">
        <div class="card-img-top"><%= image_tag picture.image.url %></div>
        <div class="card-body">
          <div class="card-text"><%= picture.content %></div>
          <%= link_to 'Show', picture, class: "card-link" %>
          <%= link_to 'Edit', edit_picture_path(picture), class: "card-link" %>
          <%= link_to 'Destroy', picture, method: :delete, data: { confirm: '本当に本当に削除しますか？' }, class: "card-link" %>
    <% end %>

<br>

<%= link_to 'New Picture', new_picture_path %>
