<p id="notice"><%= notice %></p>

<div class="row">
  <div class="thumbnail">
    <%= image_tag @picture.image.url %>

    <div class="caption">
      <p>
        <%= @picture.content %>
      </p>

      <%= link_to '編集する', edit_picture_path(@picture), class: 'btn btn-default' %>
      <%= link_to '戻る', pictures_path, class: 'btn btn-default' %>
    </div>
  </div>
</div>
